.banner-image-container {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-image: url('img/1234.png');
    background-size: cover;
    background-position: center;
}

.banner-image-container h1 {
    font-size: 3rem;
    margin: 0;
}

.content {
    margin-top: 3rem;
}